딕셔너리 (Dictionary) - 사전을 만들 때 쓰는 자료구조형

In [12]:
# creating a dictionary
country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Rome", 
  "England": "London"
}

# printing the dictionary
print(country_capitals)

{'United States': 'Washington D.C.', 'Italy': 'Rome', 'England': 'London'}

In [13]:
country_capitals['Italy']

'Rome'

In [14]:
country_capitals['Malaysia'] = 'Kuala Lumpur'

In [15]:
country_capitals

{'United States': 'Washington D.C.',
 'Italy': 'Rome',
 'England': 'London',
 'Malaysia': 'Kuala Lumpur'}

In [9]:
student1 = {'학번': 202014, '이름': '고유경', '학과':'컴퓨터공학과'}
student1['학과']

'컴퓨터공학과'

In [10]:
student1['연락처'] = '010-2344-5677'
student1

{'학번': 202014, '이름': '고유경', '학과': '컴퓨터공학과', '연락처': '010-2344-5677'}

In [20]:
for k in student1.keys() :
    print('%s  -->  %s'  % (k, student1[k]))

학번  -->  202014
이름  -->  고유경
학과  -->  컴퓨터공학과
연락처  -->  010-2344-5677

딕셔너리에 값 추가하기