<a href="https://colab.research.google.com/github/dscoool/datastructure/blob/main/TF_IDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://jeongjaem.in/datastructure/1.png "TF-IDF")

 ◎ TF - IDF ( Term Frequency - Inverse Document Frequency ) :

  </br> </br>




    단어의 빈도(Term Frequency)와 역 문서 빈도(Inverse Document Frequency)를 토대로,

    특정 문서 내에 어떤 단어가 얼마나 중요한 지를 나타내는 통계적 수치.

 </br>
</br>
  >> 다른 문서에는 잘 등장하지 않지만, 이 문서에는 유독 많이 쓰인 단어가 이 문서의 키워드

▷ TF (Term Frequency) 는 단어 빈도를 나타내며 문서 내에서 특정 단어가 몇 번 발견되었는지를 계산.

문서-단어 행렬이 곧 단어들의 TF 값을 구한 것.
</br>

▷ IDF (Inverse Document Frequency) 는 DF 의 역수이며, 특정 단어가 발견되는 문서의 수를 뜻한다.
</br></br>
특정 문서가 아닌 대부분의 문서에서 발견되는 단어는 그만큼 흔하게 사용되어 중요한 의미를 갖지 않는다고 볼 수 있다.

![alt text](https://jeongjaem.in/datastructure/2.png "Title")

In [3]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
import numpy as np
import json

In [15]:
# 대체한 corpus
# 수동으로 입력한 corpus 내용
corpus = [
'그룹 방탄소년단(BTS) 정국의 두 번째 솔로 싱글 3D가 세계 양대 차트로 불리는 영국 오피셜 싱글 차트 톱 100에 3주 연속 진입했다.20일(현지시간) 공개된 최신 차트에 따르면 3D는 전주보다 열 계단 하락한 32위를 기록했다.',
'3D는 닿을 수 없는 상대방에 대한 마음을 1·2·3차원의 시선이란 소재로 재미있게 풀어낸 알앤비(R&B) 팝 장르 노래다.',
'이 노래는 영국 싱글 차트 5위로 처음 진입해 22위, 32위를 기록하며 인기를 이어가고 있다.',
'세계를 무대로 활동하는 한국인 DJ 겸 프로듀서 페기 구의 나나나(NANANA)는 42위로 18주 연속 진입해 롱런을 이어갔다.',
'한편, 정국의 솔로 데뷔곡 세븐(Seven)은 세계 최대 스트리밍 플랫폼 스포티파이가 발표한 위클리 톱 송 글로벌에서 2위로 14주 연속 진입했다. 3D는 10위로 3주 연속 톱 10을 지켰다.'
]

뉴스원본: https://news.kbs.co.kr/news/pc/view/view.do?ncd=7798660

In [16]:
#TF-IDF
vect = CountVectorizer()                                #CountVectorizer를 이용하여
document_term_matrix = vect.fit_transform(corpus)

In [17]:
# document_term_matrix를 dataframe으로 변환하기!!
tf = pd.DataFrame(document_term_matrix.toarray(), columns=vect.get_feature_names_out())
# 변환한 내용 출력하기!!
tf

,100에,10위로,10을,14주,18주,20일,22위,2위로,32위를,3d가,...,최신,페기,풀어낸,프로듀서,플랫폼,하락한,한국인,한편,현지시간,활동하는
0,1,0,0,0,0,1,0,0,1,1,...,1,0,0,0,0,1,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,1,0,1,0,0,1,0,0,1
4,0,1,1,1,0,0,0,1,0,0,...,0,0,0,0,1,0,0,1,0,0

In [18]:
D = len(tf)
df = tf.astype(bool).sum(axis=0)
idf = np.log((D+1) / (df+1)) + 1

In [19]:
df

100에    1
10위로    1
10을     1
14주     1
18주     1
       ..
하락한     1
한국인     1
한편      1
현지시간    1
활동하는    1
Length: 83, dtype: int64

In [21]:
idf

100에    2.098612
10위로    2.098612
10을     2.098612
14주     2.098612
18주     2.098612
          ...
하락한     2.098612
한국인     2.098612
한편      2.098612
현지시간    2.098612
활동하는    2.098612
Length: 83, dtype: float64

In [22]:
# TF-IDF (Term Frequency-Inverse Document Frequency)
tfidf = tf * idf
tfidf = tfidf / np.linalg.norm(tfidf, axis=1, keepdims=True) #정규화 normalisation

In [23]:
tfidf

,100에,10위로,10을,14주,18주,20일,22위,2위로,32위를,3d가,...,최신,페기,풀어낸,프로듀서,플랫폼,하락한,한국인,한편,현지시간,활동하는
0,0.186637,0.00000,0.00000,0.00000,0.000000,0.186637,0.000000,0.00000,0.150578,0.186637,...,0.186637,0.000000,0.000000,0.000000,0.00000,0.186637,0.000000,0.00000,0.186637,0.000000
1,0.000000,0.00000,0.00000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.272686,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000
2,0.000000,0.00000,0.00000,0.00000,0.000000,0.000000,0.298082,0.00000,0.240490,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000
3,0.000000,0.00000,0.00000,0.00000,0.257347,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.257347,0.000000,0.257347,0.00000,0.000000,0.257347,0.00000,0.000000,0.257347
4,0.000000,0.21568,0.21568,0.21568,0.000000,0.000000,0.000000,0.21568,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.21568,0.000000,0.000000,0.21568,0.000000,0.000000

* 참고자료: [파이썬] 특성 추출 - TF-IDF </br>
https://python-explorer.tistory.com/31

## 예제 2
이번에는 aihub.or.kr에서 가져온 방송 콘텐츠 말뭉치 데이터를 사용하여,
TF-IDF 를 실행해 봅시다!! 😊

** 원본데이터: 방송 콘텐츠 한-중, 한-일 번역 병렬 말뭉치 데이터 </br>
(https://aihub.or.kr/aihubdata/data/view.do?currMenu=115&topMenu=100&aihubDataSe=realm&dataSetSn=71263)
</br>
** 파일데이터: broadcast.json </br>
다운로드 - (https://bit.ly/3Dh5lwU)

In [26]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
import numpy as np
import json

#broadcast.json 파일을 불러옵니다!!
# json은 비정형데이터(NoSQL)의 일종입니다. 강의게시판 다운로드!!
with open('broadcast.json', encoding='UTF-8') as json_file:
    json_data = json.load(json_file)

# json_data
broadcasting_script = json_data["data"]
# json의 내용을 출력해 봅시다!!
broadcasting_script

FileNotFoundError: ignored

우리는 여기서 'ko'부분만 가져와보도록 할게요!!

In [ ]:
broadcasting_script[2]['ko']

'BBB의 방송은 딱딱한 내용이 적고, 한국의 사회상황이나 문화적인 내용이 많기 때문에 항상 즐겁게 듣고 있습니다.'

In [ ]:
len(broadcasting_script)

360000

자료가 길기 때문에, 100행까지만 가져와 보도록 하겠습니다!!

In [ ]:
bs = broadcasting_script[:100]

for문을 사용하여 [n]['ko']를 모두 불러와서 </br>
'corpus'라는 list에 저장해 봅시다!!

corpus 라는 말뭉치를 만들어 봅시다. broadcasting_script에서 </br>
broadcasting_script[n]['ko']의 내용만 모두 추출합니다!!

In [ ]:
corpus2 = []
for n, cor in enumerate(bs):
    corpus2.append(cor['ko'])
corpus2

['그 사이트에서는 인터넷에 의한 라디오 방송도 보급되어 있기 때문에 프로그램이 없어지는 것이 아니라면 별 문제는 없는 것이 아닐까라고 쓰여져 있었습니다.',
 '> 알겠습니다.',
 'BBB의 방송은 딱딱한 내용이 적고, 한국의 사회상황이나 문화적인 내용이 많기 때문에 항상 즐겁게 듣고 있습니다.',
 '그 아티스트를 상징하는 색깔이 있다고 해요.',
 "여러분의 '버킷리스트'는 무엇인가요?",
 "마지막 커튼콜에서 AAA씨가 등장한 순간, 객석이 모두 일어서 박수 함성을 보냈고, 회장에서는 '카가와!'라는 외치는 소리도 나오고 있었습니다.",
 '미국과 멕시코 출신의 2인조 아티스트 friends with you가 제작한 오브제.',
 '품위없이 헛들은 한글이라 죄송합니다.',
 '여기서는 보였죠.',
 '무조건 소리 질러주세요.',
 '정말 감사했습니다.',
 "바로 진실 씨의 '생일 코너'입니다.",
 '>일단 조건만 되면 응모해 본다 이런 걸까요?',
 '마론 씨, 안녕하세요',
 "트럼프 대통령은 대화에 전향적인 자세를 보였지만 '비핵화 의사 표시와 구체적 행동'이라는 대화의 조건이 달라진 것은 아닙니다.",
 '> 몰랐어요..',
 '"듣기 힘들 때도 있지만 매일 즐겁게 듣고 있습니다"',
 '일본식민지시대였던 1943년 기생을 교육하는 권봉이라는 기관을 무대로 한 이야기입니다.',
 '헌법 9조에 자위대 근거 조항 추가 움직임을 우리 국민들은 어떻게 보고 있습니까?',
 '이런 주제인데 저도 모르게 길어지고 말았습니다.',
 '아, 하지만 지금으로서는 돈도 모으지 않았고, 주식도 금괴도 아무것도 없으니까 필요없는건가(웃음).',
 '>차별이네요.',
 "악기소리에 집중해서 들었는데, AAA 교수의 '하루'라는 곡은 아침부터 저녁까지 하루의 변화, 감성의 변화를 음악에 잘 녹여낸 것 같아요.",
 '> 서울대 주한규 교수는 "태양광은 연평균 이용률이 15% 정도로 낮은 편이며 패널이 더러워지면 발전량도 크게 감소할 수밖에 없다"고 설명했다.',
 '어두운 곳에서 2개월 이상 발효시킵니다.',
 '반려동물은 반드시 이별이 옵니다.',
 '이준석 선장은 배에서 대피하라고 명령했다고 주장하고 있는 거군요.',
 '다음 분입니다.',
 '오늘은 봄이 느껴지는 곡들을 소개해 드릴게요.',
 '자이언 씨는 역시 큰 분이었어요.',
 '별로 도움이 안 되고',
 '>그럼, 그렇겠지요.',
 "일본어로 하면 '가고 싶어요'라는 뜻이 됩니다.",
 '>지금 인기있는 드라마네요.',
 '>일본어팀 생일담당 진실 씨의 생일코너입니다.',
 '그 배경에는 국민이 모르는 또 다른 대통령의 존재가 컸던 것이 아닐까요.',
 '그 범죄자 본인을 위한 것인지 아닌지.',
 "한국에서 주인공인 노하라 신노스케는 '짱구'라는 이름인데 '짱구'제목을 '신짱구'라는 한국식 이름으로 한 것이 재미있다고 생각했어.",
 '한국어 공부도 열심히 하세요.',
 '너무 슬픈지 않나요?',
 '> 괜찮습니다.',
 '오늘의 목적지, 삼해소주가입니다',
 '1인 걸그룹입니다.',
 '전문가들은 김여정의 필적에 대해 수직 또는 수평으로 뻗어나가는 선의 특징에 일관성이 없고 전체적으로 균형이 맞지 않는다고 하며, 이러한 필체를 가진 사람은 자유분방하고 예측불가능한 성격을 가진 사람이 많다고 했습니다.',
 '예를 들어 광우병 등에 대해서도 다른 나라보다 더 민감합니다.',
 '저는 저런 건 절대 안 좋아해요.',
 '입관이라고 해서 관에 넣는 여러 가지 일들이 있어요.',
 '한국 사람도 가끔은 이런 곳까지 안 갈까요.',
 "'안'은동사, 형용사 앞에 븉어, '~지 않다'라는 뜻을 나타냅니다.",
 '>드디어 이번 주 북-미 정상회담이 싱가포르에서 열립니다.',
 '> 네.',
 '> "BBB"는, 10의 21 제곱을 의미하는 숫자의 단위로, 눈에 보이지 않는 바이러스, 세균을 철저하게 제거하기 위한 항균 제품의 브랜드입니다.',
 '미국에는 무려 220개국 76만 명이 넘는 유학생이 있다고 해요.',
 '그게 문제가 된 적이 있었잖아요.',
 '태풍이나 지진의 피해에도 불구하고 일본 노선도 인기를 끌고 있는 것입니다.',
 '>저는 2, 3년 된줄 알았어요.',
 '유엔 식량농업기구는 북한에서는 여전히 45만 8000여 톤의 식량을 외국으로부터의 수입과 지원에 의존해야 한다고 지적했습니다.',
 '신님 댁의 거북이는 잘 있습니까?',
 '생각하면 몸서리치는 기후를 체험했습니다.',
 '집 근처가 산이기 때문에 산책 도중 머위 노루를 캐와서 저녁에 튀김을 먹으면 신선하고 맛있습니다.',
 '>보통은 그게 일반적이지 않나 싶어요.',
 '5월 22일 토요일 오늘이 생일이신 여러분입니다',
 '이 코너에서는 7월부터 8월 사이 여름방학 특집으로, 1996년부터 2004년까지의 연간 신청곡 베스트 10을 8회에 걸쳐서 보내드리고 있습니다.',
 '여러분 잘 지내시죠?',
 '그 전까지는 조선시대 궁궐 경복궁이 있는 광화문에 있었지요.',
 "그래서 다음은 일본어반의 생일 담당 진실양의 '생일 코너'입니다.",
 '>발견되지 않은 채로 있다는 말씀이시군요.',
 '해외에서는 공문에 나이를 잘못 기재해 버리는 경우도 적지 않다고 합니다.',
 '>행복감을 느낄만 하죠.',
 '정말요?',
 '그리고 응원의 떡도 꽤 마음에 들어하고 있다는 것을 다시 한번 깨달았습니다.',
 "사진을 태우거나 물건을 태우는 행위는 일종의 '정화'. 얼룩을 제거한다, 깨끗하게 한다.",
 '돌고래 님의 편과 아무 손색이 없는 것 같아요.',
 '오늘도 한국 고유의 악기 연주와 노래로 CCC 여러분을 모시겠습니다.',
 '> 한국에서는 AAA씨가 만든 영화 <냉정과 정열사이>의 음악이 대히트를 치고, 그 후 한국 드라마의 OST도 담당하도록.',
 '한국에 대한 애정이 공통된 탓인지 바로 마음을 터놓은 세 사람.',
 '예를 들어 어느 방송국의 연말 가요 프로그램 티켓이, 일본인 관광객에게 16,000엔에 팔리고 있었다는 거예요.',
 '글쎄요, 그 AAA 씨 정정하시면서도 의견을 보내 주셔서 정말 고맙습니다.',
 '65년을 기다려온 이산가족에게 불과 12시간의 재회는, 오히려 잔인하다는 의견도 있습니다.',
 '그것이 그녀의 AAA였다.',
 '새해 첫날인 1월 1일은 친구와 일본인이 경영하는 선술집에 갔습니다.',
 '하지만 아시아 시리즈라는 대회에 나가는 데 주력 선수 시즌 중에 활약을 해 온 두 명의 전 메이저리거 매기라는 선수와 존스라는 선수가 타선의 멤버에 들어가 있지 않았습니다.',
 '그럼 다음 주 100회 기념을 위한 친목 도모를 더욱 더 합시다.',
 '연말다운 좋은 말씀 감사합니다.',
 '북한에서는 보리와 감자의 수확량이 크게 줄어든 것으로 알려져 있습니다.',
 '진행자는 마론, 아사다 에미입니다',
 '>왜 명동에서 김인지 잘 모르겠지만요.',
 '저번 방송에서 군대 계급 흥미로웠어요.',
 'AAA 씨.',
 "그리고 지금까지 CCC 안에 포함되어 있던 '드라마 한국어'가 새롭게 독립 프로그램으로 재등장, 출연자도 AAA 씨가 되었습니다.",
 "그럼 다음은 일본어 반의 생일 담당 진실 양의 '생일 코너'입니다.",
 '생생한 쓰나미 영상과 긴박한 기자회견 모습 등 지금도 생생하게 기억하고 있습니다.',
 '약간 아와오도리 같은 느낌의 춤을 춥니다.',
 '노래하고 있는 남성 밴드 THE NUTS는, 지금 인기 배우로 활약하고 있는 지현우 씨가 기타리스트였지만, 2009년에 해산.',
 '벌써 드셨나요?',
 '> 8천 점 만관 수료.',
 '>아직 전혀 아줌마가 아니에요.',
 '시댁 얘기 의외로 반응이',
 '>그렇네요.',
 '>청취자 여러분 안녕하세요?']

이제 CounterVectorizer() 를 사용해서, </br>
불러온 문장에 TF-IDF를 적용해 봅시다!!

#### TF (Term Frequency) 라는 말은 문서에서 </br>
#### 어떠한 단어(Term)이 몇 번이나, 얼마나 자주 나오는지를 나타내는 지수입니다.</br>
예를 들어, 문서 1번에서 '사과'라는 단어가 3번 등장한다면, </br>
DOC1 - '사과' 의 TF는 3입니다.</br>
하지만 편의를 위해 3으로 표기하지 않고 표준화를 시켜 </br>
(Normalization)하여 표기합니다.

In [ ]:
#TF-IDF
vect = CountVectorizer()                                #CountVectorizer를 이용하여
document_term_matrix = vect.fit_transform(corpus2)       # 문서-단어 행렬생성!!

TF-IDF를 적용했습니다. </br>
여기서 생성된 document_term_matrix를 </br>
1. tf 라는 데이터프레임(DataFrame)으로 변환하여
2. 출력합니다!!!!

In [ ]:
# document_term_matrix를 dataframe으로 변환하기!!
tf = pd.DataFrame(document_term_matrix.toarray(), columns=vect.get_feature_names())
# 변환한 내용 출력하기!!
tf

c:\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,000엔에,100회,10을,10의,12시간의,15,16,1943년,1996년부터,1월,...,행복감을,행위는,헌법,헛들은,형용사,활약을,활약하고,회장에서는,흥미로웠어요,힘들
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
D = len(tf)
df = tf.astype(bool).sum(axis=0)
idf = np.log((D+1) / (df+1)) + 1             # IDF (Inverse Document Frequency)

In [ ]:
# TF-IDF (Term Frequency-Inverse Document Frequency)
tfidf = tf * idf
tfidf = tfidf / np.linalg.norm(tfidf, axis=1, keepdims=True)

In [ ]:
tfidf

,000엔에,100회,10을,10의,12시간의,15,16,1943년,1996년부터,1월,...,행복감을,행위는,헌법,헛들은,형용사,활약을,활약하고,회장에서는,흥미로웠어요,힘들
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

이번에는 '라디오'라는 검색어로 TF-IDF를 검색해 봅시다!!

In [ ]:
tfidf[:]['라디오']

0     0.233285
1     0.000000
2     0.000000
3     0.000000
4     0.000000
        ...
95    0.000000
96    0.000000
97    0.000000
98    0.000000
99    0.000000
Name: 라디오, Length: 100, dtype: float64

'라디오'라는 단어를 검색하면 몇 번 문서가
'라디오'를 포함하고 있는지 알려 줍니다.

In [ ]:
search_word=['라디오']
result=tfidf[:][search_word]
r=result[(result > 0).any(1)]
d=r.index.values.astype(int)[0]
print("검색어:", search_word)
print("검색결과: \n")
corpus2[d]

검색어: ['라디오']
검색결과:

C:\Users\jaemi\AppData\Local\Temp\ipykernel_20828\2352681015.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  r=result[(result > 0).any(1)]

'그 사이트에서는 인터넷에 의한 라디오 방송도 보급되어 있기 때문에 프로그램이 없어지는 것이 아니라면 별 문제는 없는 것이 아닐까라고 쓰여져 있었습니다.'

'패널이'라는 단어를 검색하면 몇 번 문서가
'패널이'를 포함하고 있는지 알려 줍니다.

In [ ]:
search_word=['패널이']
result=tfidf[:][search_word]
r=result[(result > 0).any(1)]
d=r.index.values.astype(int)[0]
print("검색어:", search_word)
print("검색결과: \n")
corpus2[d]

검색어: ['패널이']
검색결과:

C:\Users\jaemi\AppData\Local\Temp\ipykernel_20828\3645825692.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  r=result[(result > 0).any(1)]

'> 서울대 주한규 교수는 "태양광은 연평균 이용률이 15% 정도로 낮은 편이며 패널이 더러워지면 발전량도 크게 감소할 수밖에 없다"고 설명했다.'

Reference:

1. NMF 알고리즘을 이용한 유사한 문서 검색과 구현, https://bcho.tistory.com/1216

2. AiHub, https://aihub.or.kr/aihubdata/data/list.do?pageIndex=1&currMenu=115&topMenu=100&dataSetSn=&srchdataClCode=DATACL001&srchOrder=&SrchdataClCode=DATACL002&searchKeyword=&srchDataRealmCode=REALM002&srchDataTy=DATA003

3. TF‐IDF의 변형을 이용한 전자뉴스에서의 키워드 추출 기법, https://koreascience.kr/article/JAKO200910348031067.pdf